<div class="sidebar-content">
  <h5>All tasks</h5>
  <ul class="nav-link">
    <li><a href="?all=1" class="sidebar-link all {% if request.GET.all and not request.GET.my %}active{% endif %}">All</a></li>
    <li><a href="?comp=1" class="sidebar-link all {% if request.GET.comp == '1' and not request.GET.my %}active{% endif %}">Completed</a></li>
    <li><a href="?comp=0" class="sidebar-link all {% if request.GET.comp == '0' and not request.GET.my %}active{% endif %}">Not completed</a></li>
  </ul>

  <h5>My tasks</h5>
  <ul class="nav-link">
    <li><a href="?my=1" class="sidebar-link {% if request.GET.my == '1' and not request.GET.comp %}active{% endif %}">All</a></li>
    <li><a href="?my=1&comp=1" class="sidebar-link {% if request.GET.my == '1' and request.GET.comp == '1' %}active{% endif %}">Completed</a></li>
    <li><a href="?my=1&comp=0" class="sidebar-link {% if request.GET.my == '1' and request.GET.comp == '0' %}active{% endif %}">Not completed</a></li>
  </ul>
</div>
