{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="create-update-form">
  <h1>{{ object|yesno:"Update,Create" }} Task</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-dark" value="Submit">
      {% if object %}
        <a href="{% url 'tasks:task-detail' object.id %}" class="btn btn-light">Cancel</a>
      {% else %}
        <a href="{% url 'tasks:task-list' %}" class="btn btn-light">Cancel</a>
      {% endif %}
    </form>
  </div>
{% endblock %}