{% extends "base.html" %}

{% block content %}
<div class="task-detail">

  <div class="task-header">
    <h1>{{ task.name }}</h1>
    <div class="manage-btn">
      {% if user.is_superuser or user == task.created_by %}
        <a href="{% url 'tasks:task-update' pk=task.id %}" class="btn btn-dark">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
          </svg>
        </a>
        <a href="" class="btn btn-dark">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </a>
      {% endif %}
      {% if user.is_superuser or user == task.created_by or user in task.assignees.all %}
        <form action="" method="post" style="display:inline;">
          {% csrf_token %}
          {% if task.is_completed %}
            <button type="submit" class="btn btn-dark">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
            </button>
          {% else %}
            <button type="submit" class="btn btn-dark">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
              </svg>
            </button>
          {% endif %}
        </form>
      {% endif %}
    </div>

  </div>
  <hr>
  <div class="task-info">
    <p><strong>Priority:</strong> {{ task.priority }}</p>
    <p><strong>Status:</strong>
      {% if task.is_completed %}
        Completed
      {% else %}
        Not completed
      {% endif %}
    </p>
    <p><strong>Type:</strong> {{ task.task_type.name }}</p>
    {% if task.created_by %}
      <p><strong>Created by:</strong> {{ task.created_by.username }}</p>
    {% endif %}
    <p><strong>Created at:</strong> {{ task.created_at|date:"Y-m-d H:i" }}</p>
    <p><strong>Deadline:</strong> {{ task.deadline|date:"Y-m-d H:i" }}</p>
    <p><strong>Assignees:</strong>
      <ul>
        {% for user in task.assignees.all %}
          <li>👤 {{ user.username }}</li>
        {% endfor %}
      </ul>
    </p>
    <p><strong>Tags:</strong>
      <ul class="tag-list">
        {% for tag in task.tags.all %}
          <li class="tag-item">#{{ tag.name }}</li>
        {% endfor %}
      </ul>
    </p>
  </div>

  <div class="task-description">
    <h3>Description</h3>
    <p>{{ task.description|linebreaks }}</p>
  </div>
</div>
{% endblock %}